<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
  
    <!--css-->
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/bootstrap-theme.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Annie+Use+Your+Telescope|Vibur' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300italic' rel='stylesheet' type='text/css'>
<!--    <link href="/css/shared.css" rel="stylesheet" type="text/css"> -->
    <link href="/css/signIn.css" rel="stylesheet" type="text/css">  

    <!--js-->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="/js/shared.js"></script>
    <script src="/js/signin.js"></script>

    <!--content-->
 

    </div>
	</head>
	<body>
		<br><br>
		<div id='code' class='overlay'>
		        <div class='title'>SUMMON</div>
		   
			<form align=center method="post" action="/event/main">
	             <input type="text" placeholder="User Name" name="userName"></input>
	             <input type="password" placeholder="Password" name="password"></input>
	             <br> 

		    <div class='signInBut'>
		         <a href="/event/main" align=center STYLE="text-decoration: none">SIGN IN</a>
		    </div>
		    <br>
		    <div class ='signUpBut'>
                <a href="/event/signup" STYLE="text-decoration: none">Not yet registered? Sign Up</a>
             </div>
			</form>
		</div>


		<h3>Quickly View an Event</h3>
	    <div class='overlay2'>
		    <div class="quick">
		        <a href = "/event/addCode" STYLE = "color:white"> Enter Event Code > </a>
	    	</div>
		</div>
		<br>
	
	
	<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  
    ga('create', 'UA-48467504-2', 'summon-app.herokuapp.com');
    ga('send', 'pageview');
  
    $('.signUpBut').click(function() {
  		ga("send", "event", "signup", "clickSignup");
  	});
  	$('.signInBut').click(function() {
  		ga("send", "event", "signin", "clickSignin");
  	});
  	$('.quick').click(function() {
  		ga("send", "event", "quickView", "clickQuick");
  	});
  	
  </script>
     
         
	</body>
	
</html>