.head {
     background: rgba(245, 221, 184, 0.7);
     text-align: center;
     font-family: 'Annie Use Your Telescope', sans-serif;
     font-size: 150%;
     padding: 5px;
     border-style: dotted;
     border-width: 1px;
     border-top: none;
     border-left: none;
     border-right: none;
     border-bottom: line;
}

.description {
    background: rgba(255, 255, 255, 0.7);
    padding: 5px;
}

.banner {
    font-family: 'Annie Use Your Telescope', sans-serif;
    font-size: 300%;
    padding-top: 30px;
    margin-left: 20px;
    width: 300px;
    height: 120px;
    text-align: center;
    background:url('../images/paper1.png');
    position:relative;
}

a:hover {
    color: #0099FF;
}