.banner {
    font-family: 'Annie Use Your Telescope', sans-serif;
    font-size: 300%;
    padding-top: 30px;
    margin-left: 20px;
    width: 300px;
    height: 120px;
    text-align: center;
    background:url('../images/paper1.png');
    position:relative;
}

a:hover {
    color: #0099FF;
}