 body {
    background-image:url('../images/collage2.jpg');
    font-family: 'Annie Use Your Telescope', sans-serif;
    font-size: 200%;
    color: #0066CC;
 }

.event {
  padding: 4px;
}

a {
  color:inherit;
  text-decoration: none;
}



.overlay2 {
    background: rgba(245, 221, 184, 0.8);
    
    padding-bottom: 20px;
    padding-top: 1px;
    -webkit-box-shadow: 0px 4px 26px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 4px 26px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 4px 26px 0px rgba(0,0,0,0.75);
    border-radius: 5px;
    padding-bottom:10px;
}



#response2{
    background-color:#00CC66;
    color: #FFFFFF;
    font-size:100%;
    margin: 2px;
    padding: 2px 10px;
    font-family: 'Annie Use Your Telescope', sans-serif;
    border-radius: 2px;
    border-width:1px;
 


}

#response1{
    color: #FFFFFF;
    background-color: #FFCC00;
    font-size:100%;
    margin: 2px;
    padding: 2px 10px;
    font-family: 'Annie Use Your Telescope', sans-serif;
    border-radius: 2px;
    border-width:1px;


    
}

#response3{
    color: #FFFFFF;
    background-color:#FF3333;
    font-size:100%;
    margin: 2px;
    padding: 2px 10px;
    font-family: 'Annie Use Your Telescope', sans-serif;
    border-radius: 2px;
    border-width:1px;
 

}