body {
  font-family: 'Source Sans Pro', 'Lato', sans-serif;
  background-image:url('../images/cork.jpg');
}

h1{
  font-family: 'Annie Use Your Telescope', sans-serif;
  color: #FFFFFF;
  text-align: center;
  background: #00CCFF;
}

h2 {
 font-family: 'Annie Use Your Telescope', sans-serif;
 color: #000000;   
}

.content {
  margin: 5%;
}

.container {
    text-align:center;
} 

.overlay {
    background: rgba(245, 221, 184, 0.7);
    padding-bottom: 20px;
    padding-top: 20px;
    -webkit-box-shadow: 0px 4px 26px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 4px 26px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 4px 26px 0px rgba(0,0,0,0.75);
    border-radius: 10px;
}

.overlay2 {
    background: rgba(100, 100, 184);
    padding: 10px;
    border-radius: 10px;
}

.title {
    font-size:200%;
    width:100%;
    position:relative;
    font-family: 'Annie Use Your Telescope', sans-serif;
    color: #000000;
    text-align: center;
    background: #b8f5ba;
    background:url('../images/notebook.png');
    
/*-webkit-box-shadow: 0px 4px 26px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 4px 26px 0px rgba(0,0,0,0.75);
box-shadow: 0px 4px 26px 0px rgba(0,0,0,0.75);*/
}

.butt {
    float: right;
    position: absolute;
    color:#00000;
}

.butt a {
    color: #000000;
}

.butt a:hover {
    color: #0099FF;
    text-decoration: none;
}

.buttons a {
    color:#000000;
    background-color: #FFFFCC;
    font-size:150%;
    margin: 3px;
    padding: 2px 10px;
    font-family: 'Annie Use Your Telescope', sans-serif;
    border-radius: 5px;
    border-style:dotted;
    border-width:1px;
}


.home {
    float:right;
    padding-right: 10px;
}


.footer {

  height: 40px;
  position: fixed;
  bottom:0;
  width:100%;
  font-family: 'Annie Use Your Telescope', sans-serif;
  
}


